[submodule "vim/bundle/vim-javascript"]
	path = vim/pack/bundle/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript
[submodule "vim/bundle/vim-terraform"]
	path = vim/pack/bundle/start/vim-terraform
	url = https://github.com/hashivim/vim-terraform
[submodule "vim/bundle/vim-cucumber"]
	path = vim/pack/bundle/start/vim-cucumber
	url = https://github.com/tpope/vim-cucumber
[submodule "vim/bundle/vim-json"]
	path = vim/pack/bundle/start/vim-json
	url = https://github.com/leshill/vim-json
[submodule "vim/bundle/vim-gitgutter"]
	path = vim/pack/bundle/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "vim/bundle/vim-yaml"]
	path = vim/pack/bundle/start/vim-yaml
	url = https://github.com/stephpy/vim-yaml
[submodule "vim/bundle/vim-airline"]
	path = vim/pack/bundle/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "vim/bundle/vim-afterglow"]
	path = vim/pack/bundle/start/vim-afterglow
	url = https://github.com/danilo-augusto/vim-afterglow
[submodule "vim/bundle/vim-mustache-handlebars"]
	path = vim/pack/bundle/start/vim-mustache-handlebars
	url = https://github.com/mustache/vim-mustache-handlebars
[submodule "vim/bundle/vim-vue"]
	path = vim/pack/bundle/start/vim-vue
	url = https://github.com/posva/vim-vue
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/vim-syntastic/syntastic
[submodule "vim/bundle/coc.nvim"]
	path = vim/pack/bundle/opt/coc.nvim
	url = https://github.com/neoclide/coc.nvim
[submodule "vim/bundle/typescript-vim"]
	path = vim/pack/bundle/start/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "vim/bundle/vim-airline-themes"]
	path = vim/pack/bundle/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "vim/pack/bundle/start/vim-prisma"]
	path = vim/pack/bundle/start/vim-prisma
	url = https://github.com/pantharshit00/vim-prisma
[submodule "vim/pack/bundle/start/vim-colorscheme-switcher"]
	path = vim/pack/bundle/start/vim-colorscheme-switcher
	url = https://github.com/xolox/vim-colorscheme-switcher
[submodule "vim/pack/bundle/start/vim-misc"]
	path = vim/pack/bundle/start/vim-misc
	url = https://github.com/xolox/vim-misc
