[submodule "bundles/vim-vue"]
	path = bundles/vim-vue
	url = https://github.com/posva/vim-vue
[submodule "bundles/syntastic"]
	path = bundles/syntastic
	url = https://github.com/vim-syntastic/syntastic
